.video-contenedor {
    position: relative; /* Establece posición relativa para posicionar el iframe */
    padding-bottom: 56.25%; /* Mantiene una relación de aspecto 16:9 (9/16 = 0.5625 = 56.25%) */
    height: 0; /* Altura inicial cero para el contenedor */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga del contenedor */
    max-width: 100%; /* Asegura que el contenedor no se expanda más allá de su contenedor padre */
    display: flex;
    justify-content: center;

}

   /* Estilo del iframe */
.video-container iframe {
    position: absolute; /* Posiciona el iframe absolutamente dentro del contenedor */
    top: 0; /* Alinea al borde superior del contenedor */
    left: 0; /* Alinea al borde izquierdo del contenedor */
    width: 100%; /* Ancho del iframe al 100% del contenedor */
    height: 100%; /* Altura del iframe al 100% del contenedor */
    display: flex;
    justify-content: center;
}
